name: Java Plugin CI (Reusable)

on:
  workflow_call:
    inputs:
      java:
        type: string
        default: '21'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.java }}

      - uses: gradle/actions/setup-gradle@v4

      - name: Build
        run: ./gradlew clean build --stacktrace
